.playerDeck{
    min-height: 800px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.zoom-card{
    margin: 0 auto;
    width: 380px;
    height: 580px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}