.playerCard img {
  height: 350px;
}

.playerCard {
  width: 100%;
  height: 300px;
  max-width: 200px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  z-index: 100;
}

.playerCard.ownCard {
  opacity: 0.3;
  z-index: 1 !important;
}

.playerCard.selected {
  border: 4px solid #fbc02d;
}

.playerCard.voted {
  border: 4px solid rgb(10, 90, 10);
}

.playerCard__wrapper {
  padding: 10px !important;
  margin: 0 auto;
}

.playerCard.canHover {
  cursor: pointer;
}

.playerCard.canHover:hover {
  transform: scale(1.5);
  content: "PAS VOTRE IMAGE";
}

@media (min-width: 600px) {
  .same-height {
    display: flex;
  }
}
